.header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.generatorForm {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

.generatorForm > h1 {
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  display: block;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}
.form-group select {
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 5px;
  width: 425px;
}
.form-group button {
  width: 425px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
}
label {
  font-weight: 600;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  width: 100vw;
  height: 90vh;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid;
  border-radius: 50px;
  border-color: black transparent darkgray transparent;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imageContainer {
  display: flex;
  width: 75%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  margin: 10px;
  border-radius: 5px;
}
